.sign {
  height: calc(100vh - 60px);
  height: calc(var(--vh,1vh) * 100 - 60px);
  @media(min-width: 1024px) {
    height: 100vh;
    height: calc(var(--vh,1vh) * 100);
    padding: 0 0 0 200px;
  }
  &__inner {
    height: 100%;
    background: #f1f1f1;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(min-width: 768px) {
      padding: 15rem 0 5rem 0;
    }
    @media(min-width: 1024px) {
      padding: 12.5rem 0 5rem 0;
    }
  }
  &__switch-button {
    position: relative;
    width: 65%;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.25);
    border-radius: 3rem;
    overflow: hidden;
    margin: 0 0 4rem 0;
    @media(min-width: 768px) {
      width: 50%;
    }
    @media(min-width: 1280px) {
      width: 40%;
    }
  }
  &__switch-bg {
    position: absolute;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    border-radius: 3rem;
    background: #000;
    transition: 0.5s;
  }
  &__switch-text {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 1rem 0;
    color:#fff;
    mix-blend-mode: difference;
    width: 50%;
    font-size: 1.6rem;
    text-align: center;
    @media(min-width: 768px) {
      font-size: 2rem;
    }
  }
  &__social-login {
    width: 45%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 4rem 0;
    @media(min-width: 768px) {
      width: 25%;
    }
    @media(min-width: 1280px) {
      width: 17.5%;
    }
  }
  &__social-login-link {
    font-size: 1.6rem;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.25);
    @media(min-width: 768px) {
      width: 36px;
      line-height: 36px;
      font-size: 2rem;
    }
    @media(min-width: 1024px) {
      transition: 0.3s;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
  &__form-container {
    width: 100%;
    position: relative;
    flex-grow: 1;
  }
  &__form {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    padding: 0 12.5%;
    transition:0.5s;
    @media(min-width: 768px) {
      padding: 0 20%;
    }
    @media(min-width: 1280px) {
      padding: 0 25%;
    }
  }
  &__input-box {
    position: relative;
    overflow: hidden;
    margin: 0 0 2rem 0;
  }
  &__input {
    width: 100%;
    outline:none;
    border:none;
    background: transparent !important;
    box-shadow: inset 0 0 0 25px #f1f1f1;
    border-bottom: 1px solid #bbb;
    font-size: 1.5rem;
    padding: 17.5px 0 7.5px 0;
    &:focus + label {
      top:0;
      font-size: 1.3rem;
    }
    &:focus ~ span {
      transform: scaleX(1);
    }
    @media(min-width: 768px) {
      font-size: 1.9rem;
      padding: 21.5px 0 7.5px 0;
      &:focus + label {
        top:0;
        font-size: 1.7rem;
      }
    }
  }
  &__label {
    position: absolute;
    top: 17.5px;
    left:0;
    font-size: 1.5rem;
    line-height: 15px;
    pointer-events: none;
    transition: 0.3s;
    @media(min-width: 768px) {
      font-size: 1.9rem;
      top: 20px;
      line-height: 19px;
    }
  }
  &__input-bar {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 2.5px; 
    background: #000;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
  }
  &__remember-password {
    display: inline-block;
    font-size: 1.4rem;
    border-bottom: 1px solid #000;
    margin: 0 0 3rem 0;
    @media(min-width: 768px) {
      font-size: 1.8rem;
    }
  }
  &__button-submit {
    display: block;
    width: 80%;
    margin: 0 auto;
    background: #000000;
    color: #fff;
    border-radius: 3rem;
    padding: 1rem 0;
    font-size: 1.6rem;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.25);
    @media(min-width: 768px) {
      font-size: 2rem;
    }
    @media(min-width: 1024px) {
      transition: 0.3s;
      width: 75%;
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
  &__terms {
    margin: 0 0 3rem 0;
    display: flex;
    align-items: center;
  }
  &__terms-label {
    font-size: 1.3rem;
    margin: 0 0 0 1rem;
    @media(min-width: 768px) {
      font-size: 1.7rem;
    }
  }
  &__message {
    font-size: 1.4rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
    &--error {
      color: #bd0000;
    }
    &--success {
      color: #008000;
    }
    @media(min-width: 768px) {
      font-size: 1.9rem;
    }
  }
  &__terms-input {
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background: #ccc;
    border-radius: 1.5rem;
    outline: none;
    box-shadow:inset 0 0 5px 0 rgba(0,0,0,0.2);
    transition: 0.4s;
    &:checked {
      background: #000;
      &::before {
        transform: scale(1.1) translateX(100%);
      }
    }
    &::before{
      content:'';
      position: absolute;
      width:20px;
      height: 20px;
      border-radius: 1.5rem;
      top:0;
      left:0;
      background: #fff;
      transition: 0.4s;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
      transform: scale(1.1);
    }
    @media(min-width: 768px) {
      width: 50px;
      height: 25px;
      &::before {
        width: 25px;
        height: 25px;
      }
    }
  }
}